.box-img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .box-img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }

  .center-text {
    display: flex;
    align-items: center;
  }

  .p-padding{
    padding: 0rem 15rem 0rem 15rem
  }